.Grid {
  width: 100%;
  padding: 6rem 0;
  background-image: url('../../../assets/s_brand_bg.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.GridRow {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}