.Footer {
  padding: 2rem;
  width: 100%;
  height: 40rem;
  background-image: url('../../assets/footer_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  padding: 2rem;
}

.div1 {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.div1 img {
  width: 14rem;
}

.div1 h1 {
  color: var(--color-main);
}

.div1 h1 span {
    color: var(--white);
    width: 30px;
    height: 5px;
}


.div1 p {
  color: var(--white);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.div1 p span {
  margin-left: 1rem;
}