*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*------- IMPORT FONT FAMILY --------*/

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&display=swap');

body {
  font-family: 'Oxanium', cursive;
  background-color: #f8f8f8;
  color: #29292e;
}

body,input, button, textarea {
  font: 400 16px 'Oxanium', cursive;
}


/*------- VARIABLES -------*/

:root {
  --grey: #90949c;
  --grey-dark: #343a40;
  --black: #000;
  --color-main: #ffc107;
  --color-main-darker: #db9b06;
  --white: #fff;
}
